body {
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*OTHER*/

#dividerContainer {
    display: grid;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    z-index: 5;
    gap: 10px;
    grid-template-columns: 6fr 3fr;
    background-color: #fff7f7;
}

#timerSection {
    min-height: calc(100vh - 20px);
    border: 1.5px solid #bdbdbd;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#noteSection {
    min-height: calc(100vh - 20px);
    overflow: auto;
    border: 1.5px solid #bdbdbd;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: white;
}

#content1 {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#content2 {
    padding-left: 20px;
    padding-right: 10px; 
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#timerArea {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

#increaseTime {
    transition: transform 0.3s ease;
}

#increaseTime:hover {
    transform: translateX(-2px);
}

#decreaseTime {
    transition: transform 0.3s ease;
}

#decreaseTime:hover {
    transform: translateX(2px);
}

#headerContainer1 {
    width: 100%;
    height: 30px;
    background-color: #E4E4E4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#headerContainer2 {
    width: 100%;
    height: 30px;
    background-color: #E4E4E4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#debate {
    color: #bdbdbd;
}

#notesHeading {
    color: #bdbdbd;
}

#playButton {
    background-color:#ffe4ea; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 60px; 
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
}

#shuffleButton {
    background-color:#ffe4ea; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 65px; 
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
}

#toggleSources {
    background-color:#ffe4ea; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 110px; 
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
}

#saveNote {
    background-color:#ffe4ea; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 60px; 
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
}

#viewAll {
    background-color:#ffe4ea; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 80px; 
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
}

#savedNotes {
    background-color:#ffe4ea; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 115px; 
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
}

#menuBar {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#controlButtons {
    gap: 5px;
    display: flex;
    justify-content: center;
}

#deleteNote {
    background-color:#ffe4ea; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 40px; 
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
}

#labelNotes {
    background-color:#fff8fa; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 26vw;
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
    padding-left: 7px;
    padding-top: 7px;
    box-sizing: border-box;
}

#writeNotes {
    background-color:#fff8fa; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 26vw; 
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
    padding-left: 7px;
    padding-top: 7px;
    box-sizing: border-box;
}

#promptArea {
    color: #ce7e92;
    font-size: 30px;
    justify-self: center;
}

#standingArea {
    color: #bdbdbd;
    font-size: 20px;
    justify-self: center;
}

#mainTextArea {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.sourceCard {
    background-color:#fff8fa; 
    border: 2px solid #e3c7ce; 
    color: #e3b7c2;
    border-radius: 10px;
    margin-bottom: 5px;
    list-style: none;
    padding: 7px;
    margin-right: 10px;
}

.xButton {
    background-color:#ffe4ea; 
    border:2px solid #e3c7ce; 
    color: #e3b7c2; 
    border-radius:10px; 
    width: 40px; 
    height: 35px; 
    font-size: 15px; 
    cursor: pointer;
}

.noteCard {
    background-color:#fff8fa; 
    border: 2px solid #e3c7ce; 
    color: #e3b7c2;
    border-radius: 10px;
    margin-bottom: 5px;
    list-style: none;
    padding: 7px;
}

#allNotes {
    padding-top: 5px;
    margin-right: 10px;
}

#noteDisplay {
    padding-top: 5px;
    margin-right: 10px;
    background-color:#fff8fa; 
    border: 2px solid #e3c7ce; 
    color: #e3b7c2;
    border-radius: 10px;
    margin-bottom: 5px;
    list-style: none;
    padding: 7px;
    display: none;
}

#label {
    color: #e3b7c2;
}

#content {
    color: #e3b7c2;
}
